.card{
	@apply bg-opacity-50 mb-5 rounded-lg bg-lighterdark m-0 w-[22%] p-6 flex flex-col items-start justify-between cursor-pointer overflow-ellipsis;
	border: 1px solid white;
	transition: border 0.3s ease-in;
}
.card:hover{
	border: 1px solid orange;
}

.mainInfos{
	@apply max-w-[100%]
}
.thirdInfos{
	@apply flex flex-col justify-around items-end self-end
}

.thirdInfos p{
	@apply font-bold
}

.p{
	@apply m-0 max-w-[100%] overflow-hidden whitespace-normal
}